.animated-text {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
}

.animated-text--center {
  justify-content: center;
}

.animated-text__char {
  position: relative;
  display: inline-block;
  opacity: 0;
}
