.animated-text {
  display: inline;
  opacity: 0;
}

.animated-text--flex {
  display: flex;
  flex-wrap: wrap;
}

.animated-text__char {
  position: relative;
  display: inline-block;
  opacity: 0;
}
