@use "assets/stylesheets/consumables" as *;

.planchette {
  position: absolute;
  z-index: 100;
  height: auto;
  opacity: 1;
  pointer-events: none;

  @include fluid-property($breaks-sm, $breaks-xl, 96px, 192px, width);
}

.planchette__image {
  filter: drop-shadow(0 10px 10px rgb(0 0 0 / 0.8));
  will-change: filter;
}
