@use "assets/stylesheets/consumables" as *;
@use "sass:math";

$mobile-separator-container-width: $breaks-md;
$mobile-separator-container-center: calc(
  (math.div($mobile-separator-container-width, 2) * -1) + 50vw
);

.separator {
  position: relative;
  z-index: 100;
  display: block;
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.separator__container {
  width: $mobile-separator-container-width;
  padding: 0;
}

.separator__content {
  left: $mobile-separator-container-center;
}

.separator__image {
  display: block;
  width: 100%;
  max-width: 1440px;
  height: auto;
  max-height: 18px;
}

@media (min-width: $breaks-md) {
  .separator__container {
    width: auto;
  }

  .separator__content {
    left: 0;
  }
}
