@use "assets/stylesheets/consumables" as *;

.scores {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 8rem;
}

.scores__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.score {
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border: 8px solid rgb(255 255 255 / 0.9);
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 3px 4px rgb(0 0 0 / 0.5), inset 0 0 3px 4px rgb(0 0 0 / 0.5);
}

.score__value {
  color: $text-light;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgb(0 0 0 / 1);
}
