@use "assets/stylesheets/consumables" as *;

.picture-frame {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  display: none;
  width: 100%;
  max-width: $breaks-xxl;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  filter: brightness(0.75);
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
}

.media--desktop-large {
  .picture-frame {
    display: block;
    max-width: 1620px;
    border-image: url("./frame_high.webp") 180 / 90px round;
    opacity: 1;
  }
}

.media--desktop-max {
  .picture-frame {
    display: block;
    max-width: $breaks-xxl;
    border-image: url("./frame_high.webp") 180 / 180px round;
    opacity: 1;
  }
}
