/* stylelint-disable length-zero-no-unit */
@use "assets/stylesheets/consumables" as *;

.client-modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;

  @include fluid-property($breaks-md, $breaks-xl, 20px, 40px, padding);
}

.client-modal--active {
  display: flex;
}

.client-modal__divider {
  margin: 0;
}

.client-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.8);
  cursor: pointer;
}

.client-modal__close {
  position: fixed;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: white;
  color: #000000;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;

  @include fluid-property($breaks-md, $breaks-xl, 0px, 20px, top);
  @include fluid-property($breaks-md, $breaks-xl, 0px, 20px, right);
}

.client-modal__close:hover {
  color: #000000;
}

.client-modal__close:focus {
  outline: none;
}

.client-modal__content {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  max-height: 768px;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgb(0 0 0 / 0.1);
  overflow-y: scroll;

  @include fluid-property($breaks-md, $breaks-xl, 20px, 40px, padding);
}
