.hell {
  position: relative;
  display: flex;
  height: 1440px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.1);
}

.hell__container {
  height: 100%;
  padding: 0;
}

.hell__image {
  position: absolute;
  bottom: 0;
}
