/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable property-no-unknown */

$breaks-sm: 375px;
$breaks-md: 768px;
$breaks-lg: 1200px;
$breaks-xl: 1440px;

:export {
  lg: $breaks-lg;
  md: $breaks-md;
  sm: $breaks-sm;
  xl: $breaks-xl;
}
