@use "mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
}

header,
section,
footer {
  position: relative;
  display: block;
}

img {
  @include mixins.responsive-image;
}
