@font-face {
  font-family: "Benguiat Bold Condensed BT";
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/fonts/itc-benguiat-bold-condensed.woff")
    format("woff");
}

@font-face {
  font-family: "Dolly Roman";
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/fonts/dolly-roman.woff") format("woff");
}
