/* stylelint-disable media-query-no-invalid */
/* stylelint-disable order/order */
@use "sass:math";

@mixin fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin responsive-image {
  display: block;
  max-width: 100%;
  height: auto;
}

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@mixin fluid-property($min-vw, $max-vw, $min-value, $max-value, $property) {
  $u1: math.unit($min-vw);
  $u2: math.unit($max-vw);
  $u3: math.unit($min-value);
  $u4: math.unit($max-value);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
      #{$property}: calc(
        #{$min-value} + #{strip-unit($max-value - $min-value)} *
          ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
      );
    }

    @media screen and (min-width: $max-vw) {
      #{$property}: $max-value;
    }
  }
}
