@use "assets/stylesheets/consumables" as *;
@use "breakpoints";
@use "mixins";

$fluid-typography-min-width: breakpoints.$breaks-md;
$fluid-typography-max-width: breakpoints.$breaks-xl;

h1,
h2,
h3,
h4,
h5,
h6,
.heading--1,
.heading--2,
.heading--3,
.heading--4,
.heading--5,
.heading--6 {
  margin: 0;
  color: #ffffff;
  font-family: "Benguiat Bold Condensed BT", sans-serif;
  line-height: 1.1;
}

h1,
.heading--1 {
  text-shadow: rgb(0 0 0 / 0.5) 0 0 20px;
  transition: line-height 0.3s ease-in-out;

  @include mixins.fluid-property(
    $fluid-typography-min-width,
    $fluid-typography-max-width,
    36px,
    72px,
    font-size
  );
}

h2,
.heading--2 {
  text-shadow: rgb(0 0 0 / 0.5) 0 0 16px;
  transition: line-height 0.3s ease-in-out;

  @include mixins.fluid-property(
    $fluid-typography-min-width,
    $fluid-typography-max-width,
    36px,
    62px,
    font-size
  );
}

h3,
.heading--3 {
  font-family: "Dolly Roman", serif;
  line-height: 1.5;

  @include mixins.fluid-property(
    $fluid-typography-min-width,
    $fluid-typography-max-width,
    19px,
    21px,
    font-size
  );
}

p {
  color: #e2c06d;
  font-family: "Dolly Roman", serif;
  line-height: 1.5;

  @include mixins.fluid-property(
    $fluid-typography-min-width,
    $fluid-typography-max-width,
    19px,
    21px,
    font-size
  );
}

.disclaimer-text {
  color: #4b4b4b;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: breakpoints.$breaks-md) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading--1,
  .heading--2,
  .heading--3,
  .heading--4,
  .heading--5,
  .heading--6 {
    line-height: 1;
  }
}
