/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable property-no-unknown */

$font-family-heading: "Benguiat Bold Condensed BT", serif;
$font-family-body: "Dolly Roman", sans-serif;

$text-dark: #000000;
$text-light: #ffffff;
$text-gray: #4b4b4b;
$text-accent: #e2c06d;

:export {
  text-accent: $text-accent;
  text-dark: $text-dark;
  text-gray: $text-gray;
  text-light: $text-light;
}
