.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.layout-test-specs {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  background-color: rgb(0 0 0 / 0.8);
  color: #ffffff;
  font-family: "Dolly Roman", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  transform: translate(-50%, -50%);
}

.overlay {
  @include fit;
}
