$fluid-typography-min-width: 600px;
$fluid-typography-max-width: 1200px;

h1,
h2,
h3,
h4,
h5,
h6,
.heading--1,
.heading--2,
.heading--3,
.heading--4,
.heading--5,
.heading--6 {
  margin: 0;
  color: #ffffff;
  font-family: "Benguiat Bold Condensed BT", sans-serif;
  line-height: 1.1;
}

h1,
.heading--1 {
  text-shadow: rgb(220 220 220 / 0.5) 0 0 10px;
  transition: line-height 0.3s ease-in-out;

  @include fluid-property(
    $fluid-typography-min-width,
    $fluid-typography-max-width,
    36px,
    64px,
    font-size
  );
}

h2,
.heading--2 {
  font-family: "Dolly Roman", serif;
  line-height: 1.5;

  @include fluid-property(
    $fluid-typography-min-width,
    $fluid-typography-max-width,
    19px,
    21px,
    font-size
  );
}

p {
  color: #e2c06d;
  font-family: "Dolly Roman", serif;
  line-height: 1.5;

  @include fluid-property(
    $fluid-typography-min-width,
    $fluid-typography-max-width,
    19px,
    21px,
    font-size
  );
}

@media (width >= 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading--1,
  .heading--2,
  .heading--3,
  .heading--4,
  .heading--5,
  .heading--6 {
    line-height: 1;
  }
}
