@use "assets/stylesheets/consumables" as *;

.hero {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__container {
  padding: 0;
  aspect-ratio: 3 / 2;
}

.hero__overlay {
  z-index: 1000;
}
