.hero {
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hero__content {
  width: 100%;
  aspect-ratio: 3 / 2;
}
