@use "assets/stylesheets/consumables" as *;

.footer__content {
  padding: 0;
  font-family: sans-serif;
  text-align: center;

  @include fluid-property($breaks-md, $breaks-xl, 20px, 40px, padding-top);
  @include fluid-property($breaks-md, $breaks-xl, 20px, 40px, padding-bottom);
}

.disclaimer-text__tech {
  font-size: 12px;
}
