@import "../../../assets/stylesheets/consumables.scss";

.lighthouse {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.lighthouse__container {
  // aspect-ratio: 3 / 2;
  padding: 0;
}
