.lighthouse {
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lighthouse__container {
  padding: 0;
}
