@import "../../../assets/stylesheets/consumables.scss";

.lighthouse {
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: $breaks-xl;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
