@import "../../../assets/stylesheets/all.scss";

.wallpaper {
  background-image: url("../../../assets/images/ui/wallpaper_tile.png");
  background-repeat: repeat;
  background-size: 300px 400px;
  opacity: 1;

  @include fit();
}
