@use "assets/stylesheets/consumables" as *;

.client {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 0 0 / 0);
  // opacity: 0;
  transform-origin: center;

  @include fluid-property($breaks-md, $breaks-xl, 108px, 160px, width);
}

.client > svg {
  position: relative;
  width: 100%;
  height: auto;
}

.client > svg path {
  fill: #000000;
  transition: fill 0.2s ease-in-out;
}

.client:hover > svg path {
  fill: #ffffff;
}
