@use "assets/stylesheets/consumables" as *;

.section-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include fluid-property($breaks-md, $breaks-xl, 6px, 8px, gap);
}

.section-header__hairline {
  display: none;
  width: 100%;
  max-width: 640px;
  height: 1px;
  margin: 10px auto 0;
  background-color: #ffffff;
}

.section-header--default > * {
  color: $text-light;
  line-height: 1.3;
}

.section-header--dark > * {
  color: $text-dark;
  text-shadow: none;
}

.section-header--dark > .section-header__hairline {
  background-color: $text-dark;
}

.section-header--text-shadow {
  text-shadow: 0 0 20px rgb(0 0 0 / 1);
}

@media (width >= $breaks-md) {
  .section-header__hairline {
    display: block;
  }
}
