@import "../../assets/stylesheets/all.scss";

.brands {
  background-color: hotpink;
}

.brand-quilt {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 48px 256px;

  // Tablet: 3 columns
  @media (max-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }

  // Mid-Mobile: 2 column
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  // // Mobile: 1 column
  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.brand-quilt__logo {
  display: block;
  width: 100%;
  height: auto;
}

.brand-quilt svg {
  width: 100px;
  cursor: pointer;
  transition: transform 0.3s;
  justify-self: center;
}

.brand-quilt svg:hover {
  path {
    fill: black;
  }
}

.brand-quilt svg path {
  fill: #777;
}
