@use "assets/stylesheets/consumables" as *;

.wallpaper {
  background-image: url("./wallpaper_tile.jpg");
  background-position: top center;
  background-repeat: repeat;

  @include fit();
  @include fluid-property(
    $breaks-md,
    $breaks-xl,
    (150px 200px),
    (300px 400px),
    background-size
  );
}
