@use "assets/stylesheets/consumables" as *;

.clients__container {
  @include fluid-property($breaks-md, $breaks-lg, 600px, 800px, height);
}

.clients__content {
  align-items: flex-start;
  padding-top: 60px;
  pointer-events: none;
}

.clients__ouija {
  @include fit();

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
