@import "../../../assets/stylesheets/consumables.scss";

.clients__container {
  height: 800px;
}

.clients__content {
  align-items: flex-start;
  padding: 60px 0;
  pointer-events: none;
}

.clients__ouija {
  @include fit();

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
