@import "../../../assets/stylesheets/consumables.scss";

.section-header {
  @include fluid-property($breaks-md, $breaks-xl, 6px, 20px, gap);

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header__hairline {
  display: none;
  width: 100%;
  max-width: 540px;
  height: 1px;
  margin: 0 auto;
  background-color: #ffffff;
}

.section-header--dark > * {
  color: #000000;
  text-shadow: none;
}

.section-header--dark > .section-header__hairline {
  background-color: #000000;
}

@media (width >= $breaks-md) {
  .section-header__hairline {
    display: block;
  }
}
