@use "assets/stylesheets/consumables" as *;

.overlay-fade-up {
  z-index: 0;
  background: linear-gradient(to top, black, transparent 50%);
  opacity: 0.5;
  pointer-events: none;

  @include fit();
}
