@use "assets/stylesheets/consumables" as *;

.about__content {
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;

  @include fluid-property($breaks-md, $breaks-xl, 60px, 80px, gap);
  @include fluid-property($breaks-md, $breaks-xl, 40px, 100px, padding-top);
  @include fluid-property($breaks-md, $breaks-xl, 40px, 100px, padding-bottom);
  @include fluid-property($breaks-md, $breaks-xl, 640px, 1440px, max-width);
}

.about__description {
  max-width: 620px;
}

.about__description > * {
  margin: 0;
}

.about__image {
  position: relative;
  display: none;
  overflow: visible;
  filter: drop-shadow(0 6px 24px #2ee554);
  transform: rotate(-10deg);
  will-change: filter;

  @include fluid-property($breaks-md, $breaks-xl, 180px, 248px, width);
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: gap 0.3s ease-in-out;
}

.about__title {
  max-width: 640px;
}

@media (width >= $breaks-md) {
  .about__image {
    display: block;
  }

  .about__text {
    gap: 30px;
  }
}
