@use "assets/stylesheets/consumables" as *;

#benzo-app {
  position: relative;
  overflow: visible;
  width: 100%;
  max-width: $breaks-xxl;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: #000000;
}

#benzo-app.media--desktop-large {
  padding: 90px;
}

#benzo-app.media--desktop-max {
  padding: 180px;
}
