@use "assets/stylesheets/consumables" as *;
@use "sass:math";

$mobile-layout-container-width: $breaks-md;
$mobile-layout-container-center: calc(
  (math.div($mobile-layout-container-width, 2) * -1) + 50vw
);

.layout__container {
  width: $mobile-layout-container-width;
  padding: 0;
  aspect-ratio: 3 / 2;
  background-color: #000000;
}

.layout__content {
  left: $mobile-layout-container-center;
  overflow: hidden;
  aspect-ratio: 3 / 2;
}

.layout__image {
  object-fit: cover;
}

@media (min-width: $breaks-md) {
  .layout__container {
    width: auto;
  }

  .layout__content {
    left: 0;
  }
}
