@use "assets/stylesheets/consumables" as *;

.board {
  position: absolute;
  width: 100%;
  height: 100%;
}

.board__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.board__accent {
  position: absolute;
  top: 0;
  left: 0;

  @include fluid-property($breaks-sm, $breaks-xl, 84px, 240px, width);
}

.board__accent--sun {
  @include fluid-property($breaks-sm, $breaks-xl, 84px, 230px, width);
}

.board__accent--moon {
  right: 0;
  left: auto;
}
