@import "../../../assets/stylesheets/consumables.scss";

.about {
  position: relative;
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 24px;
  gap: 30px;
}

.about__image {
  position: relative;
  display: none;
  width: 155px;
  height: 170px;
  filter: drop-shadow(0 6px 24px rgb(#2ee554, 0.5));
  transform: rotate(-10deg);
}

.about__overlay {
  background: linear-gradient(to top, black, transparent 50%);
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: gap 0.3s ease-in-out;
}

.about__title {
  max-width: 640px;
}

.about__description {
  max-width: 620px;
  margin: 0;
}

@media screen and (width >= 768px) {
  .about__content {
    flex-direction: row;
    padding: 100px 30px;
    gap: 60px;
  }

  .about__text {
    gap: 18px;
  }

  .about__image {
    display: block;
    width: 248px;
    height: 272px;
  }
}
