@use "assets/stylesheets/consumables" as *;

.about__content {
  padding-right: 0;
  padding-left: 0;

  @include fluid-property($breaks-md, $breaks-xl, 40px, 60px, gap);
  @include fluid-property($breaks-md, $breaks-xl, 40px, 100px, padding-top);
  @include fluid-property($breaks-md, $breaks-xl, 40px, 100px, padding-bottom);
}

.about__description {
  max-width: 620px;
}

.about__description > * {
  margin: 0;
}

.about__image {
  position: relative;
  display: none;
  filter: drop-shadow(0 6px 24px rgb(#2ee554, 0.5));
  transform: rotate(-10deg);
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: gap 0.3s ease-in-out;
}

.about__title {
  max-width: 640px;
}

@media (width >= $breaks-md) {
  .about__image {
    display: block;
    width: 248px;
  }

  .about__text {
    gap: 30px;
  }
}
