@use "assets/stylesheets/consumables" as *;

.museum-card {
  padding: 60px 0;
}

.museum-card__container {
  display: flex;
  max-width: 1620px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.museum-card__content {
  display: flex;
  max-width: 360px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border-radius: 2px;
  aspect-ratio: 9 / 5;
  background-color: #eae6c9;
  background-image: url("./images/texture.png");
  background-position: top center;
  background-repeat: repeat;
  background-size: auto;
  box-shadow: 0 12px 20px rgb(0 0 0 / 0.8);
  color: black;
  font-family: Helvetica, sans-serif;
  transform: rotate(0.3deg);
}

.museum-card__stain {
  background-image: url("./images/stain.png");
  background-size: contain;

  @include fit();
}

.museum-card__top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.museum-card__bottom {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.museum-card__name {
  font-size: 18px;
}

.museum-card__title {
  font-size: 18px;
}

.museum-card__medium {
  color: #666666;
  font-size: 16px;
}

.museum-card__description {
  color: #999999;
  font-size: 12px;
}
