@import "../../../../../assets/stylesheets/consumables.scss";

.board {
  position: absolute;
  width: 100%;
  height: 100%;
}

.board__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.board__accent {
  position: absolute;
  top: 0;
  left: 0;

  @include fluid-property($breaks-xs, $breaks-xxl, 120px, 300px, width);
}

.board__accent--sun {
  @include fluid-property($breaks-xs, $breaks-xxl, 116px, 290px, width);
}

.board__accent--moon {
  right: 0;
  left: auto;
}
