@use "assets/stylesheets/consumables" as *;

.score {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;

  @include fluid-property($breaks-md, $breaks-xl, 50px, 100px, width);
  @include fluid-property($breaks-md, $breaks-xl, 50px, 100px, height);

  .score__circle {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: center;
  }
}

.score__value {
  color: $text-light;
  font-weight: 700;
  text-shadow: 0 0 10px rgb(0 0 0 / 1);

  @include fluid-property($breaks-md, $breaks-xl, 16px, 48px, font-size);
}
