@use "assets/stylesheets/consumables" as *;

.labs {
  position: relative;
  overflow: hidden;
}

.labs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labs__content {
  flex-direction: column;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;

  @include fluid-property($breaks-md, $breaks-xl, 50px, 80px, padding-top);
  @include fluid-property($breaks-md, $breaks-xl, 50px, 80px, padding-bottom);
  @include fluid-property($breaks-sm, $breaks-xl, 300px, 900px, max-width);
  @include fluid-property($breaks-sm, $breaks-xl, 10px, 30px, gap);
}

.labs__text {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include fluid-property($breaks-sm, $breaks-xl, 10px, 20px, gap);
}

.labs__description > * {
  margin: 0;
}
