@use "assets/stylesheets/consumables" as *;

.magic-button {
  position: relative;
  display: inline-block;
  padding: 30px 60px;
  border: 3px solid transparent;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.magic-button__background {
  @include fit();
}

.magic-button__label {
  position: relative;
  font-size: 20px;
  text-shadow: 0 4px 20px #000000;
}

.magic-button:hover {
  border: 3px solid rgb(255 215 0 / 0.6);
  animation: sparkle 1s infinite ease-in-out;
  box-shadow: 0 0 8px rgb(255 215 0 / 0.6), 0 0 40px crimson;
}

/* Optional sparkle-like glow animation */
@keyframes sparkle {
  0%,
  100% {
    filter: drop-shadow(0 0 2px gold);
  }

  50% {
    filter: drop-shadow(0 0 8px gold);
  }
}
