@use "assets/stylesheets/consumables" as *;

.employers {
  @include fluid-property($breaks-md, 1024px, 36px, 60px, gap);

  display: grid;
  width: 100%;
  max-width: 1024px;
  margin: 20px auto;
  grid-template-columns: 1fr;
}

@media (width >= $breaks-md) {
  .employers {
    margin: 60px auto;
    grid-template-columns: repeat(3, 1fr);
  }
}
