@import "../../../../assets/stylesheets/consumables.scss";

.employers {
  display: grid;
  width: 100%;
  max-width: 1024px;
  margin: 20px auto;
  grid-template-columns: 1fr;

  @include fluid-width(768px, 1024px, 36px, 60px, gap);
}

@media screen and (width >= 768px) {
  .employers {
    margin: 40px auto;
    grid-template-columns: repeat(3, 1fr);
  }
}
