@use "assets/stylesheets/consumables" as *;

.cta {
  position: relative;
  overflow: hidden;
}

.cta__buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include fluid-property($breaks-md, $breaks-xl, 10px, 20px, margin-top);
}

.cta__buttons > .magic-button {
  width: 300px;
}

.cta__content {
  display: flex;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  gap: 40px;
  text-align: center;

  @include fluid-property($breaks-md, $breaks-xl, 40px, 100px, padding-top);
  @include fluid-property($breaks-md, $breaks-xl, 40px, 100px, padding-bottom);
}

.cta__description {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}

.cta__description-item {
  display: inline-block;
}

.cta__description-intro {
  color: $text-light;
  font-size: 1.1em;
  font-weight: bold;
}

@media (min-width: $breaks-md) {
  .cta__buttons {
    flex-direction: row;
    gap: 40px;
  }
}
