.benzo-app {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: #000000;
}

.media--desktop {
  padding: 90px;
}

.media--desktop-large {
  padding: 180px;
}
