@use "assets/stylesheets/consumables" as *;

.clients {
  position: relative;
  overflow: hidden;
}

.clients__container {
  @include fluid-property($breaks-sm, $breaks-lg, 500px, 600px, height);
}

.clients__content {
  align-items: flex-start;
  padding-top: 60px;
  pointer-events: none;
}

.clients__ouija {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  @include fit();
}

.clients .vignette {
  z-index: 101;
}
