@use "assets/stylesheets/consumables" as *;

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tools__grid {
  display: flex;
  flex-wrap: wrap;
}

.tools__item {
  display: flex;
  width: 33.33%;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 12px;
  color: $text-accent;
  font-family: sans-serif;
  opacity: 0.8;

  @include fluid-property($breaks-sm, $breaks-xl, 6px, 10px, gap);
}

.tools__label {
  line-height: 1;

  @include fluid-property($breaks-sm, $breaks-xl, 15px, 20px, font-size);
}

.tools__icon {
  line-height: 1;

  @include fluid-property($breaks-sm, $breaks-xl, 20px, 30px, font-size);
  @include fluid-property($breaks-sm, $breaks-xl, 20px, 30px, height);
}

@media (width >= $breaks-md) {
  .tools__item {
    width: 25%;
  }
}
